* { margin: 0; padding: 0; list-style: none; font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";}
a { color:inherit; text-decoration: none; }	
html, body{width: 100%; height: 100%; height: auto; min-width: 640px; max-width: 1920px; padding: 0; margin: 0; color: #333;} 
.m25 {margin-top: 25px;}
h2 {font-size: 3.5rem;} 

.container{width: 100%; height: 100%; margin: 0 auto; text-align: center;}


#main{width: 100%; height: 850px; background: #18BC9C; align-items: center !important; overflow: hidden; color: #fff; background-attachment: fixed; position: relative;}
#main .main_img{margin: 5rem 0 1rem 0; width: 27rem; height: 27rem;}
#main h1{margin-top: 150%; font-size: 4rem; line-height: 3.5rem; letter-spacing: 0.2rem; opacity: 0;}
#main p{margin-top: 0; opacity: 0; font-size: 1.1rem;}
#mouse{position: absolute; left: 0;right: 0; bottom: 7%; width: 20px; height: 45px; border: 3px solid #fff; border-radius: 30px; margin: auto;}
#wheel{position: absolute; width: 7px; height: 7px; border-radius: 10px; background-color: #fff; left: 0; right: 0; top: 5px; margin: auto;}

header{padding-top: 1rem; padding-bottom: 1rem; background: #2C434F; z-index: 999; position: relative; left: 0; right: 0; top: 0;}
#header_box{ display: flex; flex-wrap: inherit; align-items: center; justify-content: space-between; color: #fff; width: 60%; margin: auto;}
#logo{display: flex; flex-wrap: inherit; align-items: baseline; font-size: 3.5rem;}
#logo span{font-size: 1rem;}
#menu{float: right; display: flex !important; flex-basis: auto;}
#menu li{float: left; margin-right: 1rem !important; margin-left: 1rem !important; cursor: pointer; font-size: 1.5rem;}

#work{width: 100%; padding-top: 1rem; text-align: center; overflow: hidden; background-attachment: fixed; padding: 7rem 0;}
#work>p{margin: 3rem 0 10rem 0; font-size: 1rem;}
#work_list{width: 55%; margin: auto; display: flex; flex-wrap: wrap;}
#work_list li{width: 30.6%; height: 30.6%; margin-right: 4%; margin-bottom: 4%; background-color: #000; position: relative;  opacity: 0; cursor: pointer;} 
#work_list li:nth-child(3n){margin-right: 0;} 
#work_list li img{width: 100%; height: 100%; vertical-align: top;}

#work_list li button{position: absolute; left: 0;right: 0; top: 0;bottom: 0; margin: auto; width: 80px; height: 30px; line-height: 30px; border: 1px solid #fff; color: #fff; background-color:transparent; display: none;}
#work_list li:hover img{opacity: 0.5; }
#work_list li:hover button{display: inline; cursor: pointer;}

#about{width: 100%; background-color: #18BC9C; color: #2d2d2d; text-align: center; overflow: hidden; padding: 7rem 0; margin: 0 auto;}
#about_box{width: 80%; height: 100%; margin: 0 auto; position: relative; }
#about_box h2{color: #fff;}

.about_cont {width: 80%; display:flex; flex-wrap: wrap; margin: 3rem auto 0; text-align: left; box-shadow: 10px 20px 55px 9px; background-color: #E0DEE1;}
.about_cont .about_left {width: 28%; background-color: #223A48; color: #fff; padding-bottom: 20px;}
.about_cont .about_left .about_img {width: 100%; height: auto; position: relative;}
.about_cont .about_left .me_img {width: 100%;}
.about_cont .about_left h1 {width: 100%; transform: translate(-50%, -50%); text-align: center; position: absolute; left: 50%; right: 50%; bottom: 0px;}
.about_cont .about_left > p {width: 80%; margin: 2rem auto 0;}

.about_cont .about_left .left_in {width: 80%; margin: 2rem auto 0;}
.about_cont .about_left .left_in h2 {font-size: 2rem; border-bottom: 1px solid #fff;}
.about_cont .about_left .left_in p {line-height: 26px;}
.about_cont .about_left .left_in img {width: 30px; margin-right: 1.2rem;}

.about_cont .about_right {width: 62%; background-color: #E0DEE1; padding: 5rem 0 0 5rem; display: flex; flex-wrap: wrap; color: #444;}
.about_cont .about_right .w50 {width: 50%; font-size: 1.5rem;}
.about_right .w50 img {width: 30px; margin-right: 0.5rem;}
.about_right .w50 spna {font-size: 3rem; font-weight: 800;}
.about_right .w50 ul li{overflow: hidden; width: 100%; margin-bottom: 2%;}
.about_right .w50 ul .tet4{float: left;}
.about_right .w50 .m25 {font-size: 1.1rem; line-height: 28px;}
.about_right .w50 .m25 b {font-size: 1.5rem; line-height: 2.5rem;}
.about_right .w50 ul .about_boxbg{width: 80%; height: 8px; background-color: #B79E61; clear: both;	}
.about_right .w50 ul .about_boxbg2{width: 0%; height: 8px; background-color: #C6AA52;}

#footer_wrap{width: 100%; background: #2C434F; text-align: center; background-attachment: fixed; overflow: hidden; }
#footer_wrap>h2{font-size: 20px; color: #fff; padding-top: 100px;}
#conteact{padding-top: 50px;}
#conteact li{display: inline-block; border-right: 1px solid #ccc; padding: 0 20px; text-align: left; color: #fff;}
#conteact li h5{font-size: 13px; padding: 10px 0;}
#conteact li p{font-size: 13px;}
#conteact_line{color: #fff; padding-top: 30px; font-size: 25px;}

footer{border-top: 1px solid #fff; height: 60px; line-height: 60px; margin-top: 100px; color: #fff;	}
#footer_box{width: 100%; height: 60px; margin: auto;}
#footer_box h3{float: left; font-size:22px; line-height: 60px; margin-left: 50px;}
#footer_box p {float: right; text-align: center; font-size: 12px; text-align: right; line-height: 18px; margin-top: 10px; margin-right: 100px;}

.main_line {position: relative; margin: 1.25rem 0 1.5rem; width: 100%; display: flex; justify-content: center; align-items: center;}
.main_line .line {width: 100%; max-width: 7rem; height: 0.25rem; background-color: #000; border-radius: 1rem; margin: 0 2rem;}
.main_icon {padding: 15px 0;}
.main_icon img {height: 42px; max-width: 42px; position: absolute; bottom: -5px; left: 0; right: 0; margin: auto;}

#main .main_line .line,
#about_box .main_line .line {width: 100%; max-width: 7rem; height: 0.25rem; background-color: #fff; border-radius: 1rem; margin: 0 2rem;}
