html {font-family: 'Lato','Noto Sans KR', sans-serif;}
body, ul, li, img, a, div { padding: 0; margin: 0; list-style: none; text-decoration: none; box-sizing: border-box; color: #000; box-sizing: border-box;}
span {color: #979797;}
button{cursor: pointer;}
.section {clear: both; width: 100%; padding: 100px 0;}
.sec-wrap {width: 1000px; height: 100%; margin: 0 auto;}
.mb26 {margin-bottom: 26px;}
.mb30 {margin-bottom: 30px;}
.mr30 {margin-right: 30px;}
.mr40 {margin-right: 40px;}
.p40 {padding: 40px 0;}
.pr40 {padding-right: 40px;}
.pr150 {padding-right: 150px;}
.fl {float: left;}
.fr {float: right;}
h3 {font-size: 1em;}
p {font-size: 0.8em;}

.header-bg {width: 100%; height: 650px; background: url('../images/bg.png') no-repeat; background-size: contain; background-attachment: fixed;}

header {width: 100%; height: 100px; background-color: #fff; border-bottom: 1px solid #eee; box-sizing: border-box; transition-delay: 0.15s; z-index: 99;}

.menu-wrap {width: 1000px; height: 100%; margin: 0 auto; padding: 12px 0; box-sizing: border-box; text-align: center; display: flex; flex-wrap: wrap;}
.menu-wrap .menu {width: 166.66px; font-size: 0.9em;}
.menu-wrap .menu span {display: block; height: 45px; padding-top: 25px; font-size: 1.025em; color: #000; cursor: pointer;}
.menu-wrap .menu span:hover {color: #ff3baf;}
.menu-wrap .menu .sub-menu {position: absolute; left:0; width: 100%; background-color: rgba(250, 250, 250, 0.95); padding: 30px 30px 30px 480px; z-index: 10; display: none;}
.sub-menu .sub-fl {text-align: left; width: 200px; float: left;}
.sub-menu .sub-fl li {padding-bottom: 20px; cursor: pointer;}
.sub-menu .sub-cen .sub-title {padding-top: 0; padding-bottom: 20px; text-decoration: underline; font-size: 0.9em; color: #000;}
.sub-cen div{padding: 15px 0 10px 0; font-size: 0.8em;}

.logo {position: absolute; left: 50px; bottom: 23px; cursor: pointer;}

.login {float: right; position: absolute; right: 20px; bottom: 42px;}
.login ul {text-align: center; }
.login ul li {display: table-cell;}
.login ul li a {display: block; padding: 0 9px; color: #979797; font-size: 11.7px;}

.section01 {width: 100%; max-width: 1920px; clear: both;}
.swiper{width: 50%; height: 500px; position: relative; float: left;}
.swiper-wrapper {width: 100%; height:500px; position: relative;}
.swiper-wrapper .swiper-slide {width: 100%; height: 100%; position: absolute; left: 0; top: 0; text-align: center; color: #fff; opacity:0; animation:fade 8s infinite;}
.swiper-slide.slide01  {background:url(../images/swiper01.png) center no-repeat; background-size: cover; animation-delay:0s}
.swiper-slide.slide02 {background:url(../images/swiper02.png) center no-repeat; background-size: cover; animation-delay:2s}
.swiper-slide.slide03 {background:url(../images/swiper03.png) center no-repeat; background-size: cover; animation-delay:4s}
.swiper-slide.slide04 {background:url(../images/swiper02.png) center no-repeat; background-size: cover; animation-delay:6s}
@keyframes fade {
      0% {opacity:0;}
      5% {opacity:1;}
      25% {opacity:1;}
      30% {opacity:0;}
      100% {opacity:0;}
    }

.banner {width: 50%; height: 500px; background: url(../images/banner.png) no-repeat; background-size: cover !important; float: right;}

.section02 {background: #f7f1f0;}
.title {font-size: 1.6em; text-align: center; padding: 25px 0;}
.line {width: 50px; padding: 2px 0; background-color: #000; margin: 0 auto;}
.subtitle {font-size: 0.9em; text-align: center; padding: 25px 0; word-break: keep-all; line-height: 1.5em; color: #979797;}
.eat-life {display: flex; text-align: center;}
.eat-life li {width: auto; height: auto; overflow: hidden;}
.eat-life li img {width: auto; height: auto; -webkit-transition: 1.3s all;}
.eat-life li:hover img {cursor:pointer; transform:scale(1.1); transition: transform 1.35s; }
.eat-life-text h3 {padding: 12px 0;}
.eat-life-text p {line-height: 1.4em; color: #979797;}

.section03 {background-color: #f9f9f9;;}
.garden-wrap{display: flex; flex-wrap: wrap; padding: 40px 0;}
.garden {width: 316px; height: auto; margin-right: 26px;} 
.garden:last-child {margin-right: 0;}
.garden>li {position: relative;}
.op0 {position: absolute; left: 0; top: 0; width: 100%; height: 100%;  background-color: rgba( 0, 0, 0, 0.8); text-align: center; cursor: pointer; opacity: 0; -webkit-transition: 1s all;}
.op0 button {width: 100px; height: 40px;  color: #fff; border-radius: 7%; text-align: center; background: none; border: none; text-decoration: underline;box-sizing: border-box; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto;}
.op0:hover {opacity: 1;}

.issueSlider {margin: 40px 0; height: 180px; position: relative; overflow: hidden;}
.slider-wrap {position: absolute; left: -750px; display: inline-flex;}
.slider-item {width: 250px; margin: 0 9px; text-align: center; cursor: pointer;}

.section04 {}
.milano-bg {width: 100%; background: url(../images/body.jpg) no-repeat; background-attachment: fixed; background-position: center; background-size: cover; overflow: hidden; margin: 40px 0;}
.milano-img {width: 480px; padding-top: 50px; padding-bottom: 200px; float: left; text-align: center;}
.milano-img>li>img {width: 480px;}
.milano-text h3 {margin: 3px 0;}
.milano-text p {color: #979797;}

.section05 {width: 100%; height: 1500px; background: #f7f1f0;}
.trend-l {width: 485px; float: left;}
.trend-l>ul {display: flex;
    flex-wrap: wrap;}
.trend-l>ul>li {width: 227.5px; height: 227.5px;}
.trend-l>ul>li>img {width: 100%; }
.trend-r {width: 485px; float: right;}
.trend-r>ul {display: flex; flex-wrap: wrap;}
.trend-r>ul>li {width: 227.5px; height: 227.5px;}
.trend-r>ul>li>img {width: 100%; }

.section06>.sec-wrap>.title {padding: 0;}
.section06>.sec-wrap>.subtitle {color: #333; padding: 0;}

footer {width: 100%; height: 650px; background: url(../images/bg.png) no-repeat; background-size: cover; position: relative;}
.footer-wrap {position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba( 0, 0, 0, 0.8);}
.footer-info {float: left; margin-left: 20px; padding-top: 20px;}
.footer-info p {color: #fff;}
.footer-info>ul>li{width: 50px; float: left; padding: 50px 10px 0px; opacity: 0.7;}
.footer-menu {float: right; margin-right: 20px; padding-top: 20px; color: #fff;}
.footer-menu p {padding-bottom: 20px;}
.footer-menu>ul>li {color: #fff; font-size: 0.825em; padding-left: 10px; padding-bottom: 20px; cursor: pointer;}

